/* Navegação */
body{
    background-color: #000015;
    color: white
}
.titulo{
    font-family: 'Harry Potter';
    font-size: 65px;
    padding-top: 45px;
    text-align: center;

}
.titulo2{
    font-family: 'Harry Potter';
    font-size: 50px;
    padding-top: 80px;
    padding-bottom: 30px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00 ;
}

.container{
    text-align: center;
    color: white;
    right: 250px;
}

.container__titulo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 250px;
}
.container__cabecalho{
    padding: 30px;
    background-image: url('img/parede.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.plataforma{
    z-index: 1;
}

.plataforma:hover{
    visibility: hidden;
    float:left;
}
.navegacao{
    display: flex;
    gap: 40px;
    text-align: center;
    align-items: center;
    font-family: 'Harry Potter';
    font-size: 25px;
    justify-content: center;
}
*{
    text-decoration: none;
}

.G{
    color: red;
    text-shadow: 3px 3px 5px gold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.simbolo{
    height: 160px;
    width: 150px;
    position: relative;
    left: 200px;
    z-index: 0;
}
.S{
    color: green;
    text-shadow: 3px 3px 5px white;
    -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: #000;
}

.L{
    color: yellow;
    text-shadow: 3px 3px 5px black;
    -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: #000;
}
.C{
    color: blue;
    text-shadow: 3px 3px 5px white;
    -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: #000;
}
.Carta{
    color:purple;
    text-shadow: 3px 3px 5px white;
    -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: #000;
}

.chapeu{
    color: #ff009d;
        text-shadow: 3px 3px 5px white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}
/* Capa */
.capaPotter{
    width: 600px;
    height: 350px;
    text-align: center;
}

.capa{
    align-items: center;
    text-align: center;
}

.descricao{
    width: 900px;
    height: 150px;
    font-family:'Arial Narrow', Arial, sans-serif;
    right: 60px;
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 25px;
    font-size: 25px;
}

.fundo1{
    background-color: #000015;
}

/* Section2 */

.container__g{
    background-image: url(img/hogwarts.jpg);
    width: 100%;
    height: 600px;
}

img{
    width: 250px;
}

.casasHogwarts{
    font-family: 'Harry Potter';
    font-size: 55px;
    padding-top: 45px;
    align-items: center;
    text-align: center;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00 ;
}

.container__casas{
    width: 100%;
    height: 400px;
    gap: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sonserina{
    height: 350px;
    width: 300px;
}

.sons{
    font-size: 25px;
    font-family: 'Harry Potter';
}

.grif{
    font-size: 25px;
    font-family: 'Harry Potter';
    padding-top: 25px;
}

.luf{
    font-size: 25px;
    font-family: 'Harry Potter';
    padding-top: 25px;
}

.corv{
    font-size: 25px;
    font-family: 'Harry Potter';
    padding-top: 25px;
}
figcaption{
    text-align: center;
    font-size: 160px;
}

/* section3 */

.gifJornal{
    display: flex;
    justify-content: center;
    padding-top: 103px;
    height: 600px;
}

.jornalgif{
    height: 460px;
    width: 300px;
}
.quadrogif{
    height: 450px;
    width: 400px;
}

.container__gif{
    width: 100%;
    height: 600px;
    gap: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 150px; */
}

/* Section 4 */

.container__chapeu{
    width: 100%;
    height: 400px;
    gap: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    background-image: url('img/pngwing.com\ \(1\).png');
}

.musica-chapeu{
    width: 550px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    font-family:'Arial Narrow', Arial, sans-serif;
}

.chapeu-seletor{
    height: 360px;
    width: 400px;
}

.titulo-chapeu{
    font-family: 'Harry Potter';
    align-items: center;
    text-align: center;
    font-size: 60px;
    padding-top: 30px;
    position: absolute;
    padding-left: 450px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00 ;
}

/*  container coruja */

.container-coruja{
    width: 100%;
    height: 400px;
    gap: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.carta{
    width: 500px;
    text-align: center;
}

/* footer */

.hP{
    text-align: center;
    align-items: center;
}

.rodape{
    text-align: center;
    font-size: 20px;
}

.github{
    text-align: center;
    align-items: center;
    padding-top: 25px;
}

.git{
    width: 50px;
    height: 50px;
}

.textfooter{
    text-decoration: none;
    color: white;
}

.simboloHP{
    width: 360px;
    height: 350px;
}